
body {
    display: block;
    text-align: center;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Sofia", sans-serif;
    word-wrap: break-word;
    min-width: 600px;
    overflow: auto;
    
}

#registration_form_plainPassword, #registration_form_email {
    min-width: -webkit-fill-available;
    width: 250px;
}

header {
    display: inline-block;
    width: 100%;
    height: 45px;
    border-bottom: 2px solid lightslategray;
    
}
h1 {
    color: lightslategray;
}

span{ 
    color: lightcoral;
    font-size: 30px;
}

button, .edit{
    padding: 10px;
    margin-top: 15px;
    background-color: lightblue;
    border-radius: 20px;
    position:sticky;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
}

button:hover{
    color: red;
    cursor: pointer;
    background-color: lightsteelblue;
}

img {
    height: 200px;
    width: 150px;
    float: left;
    border-radius: 20px;
}

.second_header {
    justify-content: center;
    display: contents;
    height: 55px;
}
    .sort_book{
        margin-left: 20px;
    }

.login_index, .register_index {
    display: inline-grid;
    width: 500px;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    font-weight: bold;

}

.select {
    width: 150px;
}

.filter{
    font-weight: bold;
}

.header {
    text-decoration: none;
    white-space: break-spaces;
    font-size: 30px;
    margin-bottom: 10px;
}
.header:hover {
    color: lightcoral;
}

.sort {
    padding: 5px;
}

.mb-3 {
    margin-top: 10px;
}

.edit {
    display: grid;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    border: 2px solid grey;

}
.edit:hover {
    color: lightgreen;
    background-color: lightsteelblue;
}
.edit_delete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
}

.authors {
    font-weight: bold;
    font-size: 40px;
}

.info {
    font-size: 30px;
}

.authors_border {
    display: grid;
    align-self: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
}
.books_border {
    align-self: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
}

.create_author, .edit_author {
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    width: 300px;
    border-radius: 20px;
}
.create_book, .edit_book {
    display: inline-block;
    justify-content:center;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    width: 50%;
    border-radius: 20px;
}
.edit_book {
    padding: 10px;
}


.name, .surname, .pages, .isbn, .title, .about {
    font-size: 35px;
    font-weight: bold;
    color: lightcoral;
}
.book, .author, .about2 {
    font-size: 25px;
}

.logout {
    text-decoration: none;
    display: inline;
    font-size: 15px;
    margin-left: 10px;
}

.logout:hover{
    color: lightcoral;
}

.btn-holder {
    justify-content: flex-end;
    display: flex;
}

.grid-container {
    display: grid;
    grid: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      ". . ."
      ". . .";
    margin-left: 80px;
    margin-right: 80px;
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px black);
  }
/*
MEDIA --------------------------------------------------------------------
*/
@media only screen and (max-width: 1700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas:
            ". ."
            ". .";
    }
}

@media only screen and (max-width: 1200px) {
    .name, .surname, .pages, .isbn, .title, .about {
        font-size: 20px;
        font-weight: bold;
        color: lightcoral;
    }
    .book, .author, .about2 {
        font-size: 20px;
    }
    span{ 
        color: lightcoral;
        font-size: 25px;
    }
    .edit {
        text-decoration: none;
        padding: 25px;
    }
    button {
        padding: 5px;
    }
    img {
        height: 150px;
        width: 100px;
    }
    .edit_book {
        height: 50%;
        width: 60%;
    }
}

@media only screen and (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas:
          "."
          ".";
      }
      .authors {
        font-weight: bold;
        font-size: 30px;
    }
    .create_book, .create_author, .edit_author {
        width: 80%;
    }
    img {
        height: 200px;
        width: 150px;
        padding: 10px;
    }
    .book, .author {
        display: table;
        margin-right: 10px;
    }
    .login_index, .register_index {
        width:  70%;
        height: 70%;
        text-align: center;
    }
    .edit_book {
        height: 70%;
        width: 70%;
    }
   
}

@media only screen and (max-width: 700px) {
    .login_index, .register_index {
        width:  98%;
        height: 100%;
        text-align: center;
    }
    .edit_book {
        height: 70%;
        width: 90%;
    }

}

